<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dobór grzejnika</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="../static/css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <!--fragmentss-->
  <nav th:replace="fragments/navbar :: navbar"></nav>
  <!-- Page Header -->
  <header th:replace="fragments/header :: header(title='REJESTRACJA', subtitle='możesz się zarejestrować jako firma lub osoba prywatna')"></header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!--formularz-->
        <h1>WYBÓR GRZEJNIKA</h1>
        <hr>

        <form th:action="@{/radiatorsResult}" th:method="get" th:object="${radiator}">
          <table>
            <thead>
            <tr>
              <th> Radiator Name </th>
              <th> Heating Power </th>
              <th> Height </th>
              <th> Length </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${radiators.empty}">
              <td colspan="2"> No Radiators Available </td>
            </tr>
            <tr th:each="radiator : ${radiators}">
              <td><span th:text="${radiator.radiatorName}"> Radiator Name </span></td>
              <td><span th:text="${radiator.heatingPower}"> Heating Power </span></td>
              <td><span th:text="${radiator.height}"> Height </span></td>
              <td><span th:text="${radiator.length}"> Length </span></td>
            </tr>
            </tbody>
          </table>
        </form>
        <hr>

      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; My Website 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/js/clean-blog.min.js"></script>

</body>

</html>
